span {
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    color: red;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #000;
    background-color: cornsilk;
    height: 50px;
    padding: 10px;
}
span:hover {
    cursor: pointer;
}
span.active {
    transform: translateX(900%);
}
